<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Election Commission of India</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark ">
        <div class="container">
            @Html.ActionLink("Election Commission of India", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Result", "Parties", "Result", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
                @if (User.Identity.IsAuthenticated && User.Identity.Name == "Admin")
                {
                    <ul class="navbar-nav ml-auto">
                        <li>@Html.ActionLink("Conduct Election", "ConductElection", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Candidates List", "CandidateList", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Voters List", "VoterList", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Vote Status", "VotingStatus", "Admin", new { area = "" }, new { @class = "nav-link" })</li>


                    </ul>
                }
                else
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Vote", "VoteLogin", "Vote", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Voter Register", "VoterRegistration", "Voter", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Candidate Register", "CandidateLogin", "Candidate", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li>@Html.ActionLink("AdminLogin", "AdminLogin", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-link">@User.Identity.Name</li>
                        <li>@Html.ActionLink("Logout", "AdminLogout", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                }


            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <a href="https://www.facebook.com/ECI/"><img src="~/Images/fblogo.png" width="25" height="25" /></a>
            <a href="https://www.instagram.com/ecisveep/"><img src="~/Images/instalogo.jpg" width="25" height="25" /></a>
            <a href="https://www.youtube.com/eci"><img src="~/Images/ytlogo.png" width="25" height="25" /></a>
            <a href="https://twitter.com/SpokespersonECI"><img src="~/Images/twitlogo.png" width="25" height="25" /></a>
            
        </footer>
     </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
